a {
  color: #000;
}
a:visited {
  color: #5e5050;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--color-background);
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left;
}

.list li {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  font-family: Arial, sans-serif;
}

.list li:last-child {
  border-bottom: none;
}

.list li:hover {
  background-color: #e0e0e0;
}
