@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: rebeccapurple;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.btn {
  background-color: #fff;
  color: rebeccapurple;
  font-family: inherit;
  border: none;
  border-radius: 25px;
  padding: 1rem 5rem;
  font-size: 1.5rem;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:active {
    transform: scale(0.95);
  }
}

.alerts {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.alert {
  border-radius: 25px;
  padding: 0.6rem 3rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
