@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
body {
  font-family: 'Muli', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
}

img {
  max-width: 20rem;
}

.menu {
  position: absolute;
  top: 1rem;
  left: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;

  div {
    width: 20px;
    height: 3px;
    background-color: #000;
    margin-bottom: 2px;
  }
}

.logo {
  h3 {
    margin-top: 0;
  }
}

.navigation {
  position: absolute;
  left: 0;
  z-index: 5;
  height: 100vh;
  width: 26vw;
  background-color: #fff;
  text-align: left;
  transform: translateX(-100%);
  transition: transform 0.5s linear 0.1s;
  ul li {
    margin-bottom: 1rem;
  }
  img {
    max-width: 60%;
    margin-top: 3rem;
  }
  &.open {
    transition-delay: 0.6s;
  }
}

.modal_red {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 30vw;
  background-color: red;
  transform: translateX(-100%);
  transition: transform 0.5s linear 0.6s;
  &.open {
    transition-delay: 0.1s;
  }
}
.modal_black {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 28vw;
  background-color: #000;
  z-index: 3;
  transform: translateX(-100%);
  transition: transform 0.5s linear 0.3s;
}

.nested-list {
  margin-top: 1rem;
}

.close {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: grey;
  cursor: pointer;
}

@media (max-width: 480px) {
  .modal_red {
    width: 100vw;
  }
  .modal_black {
    width: 95vw;
  }
  .navigation {
    width: 90vw;
  }
}
.open {
  transform: translateX(0);
}
