@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #25284c;
  font-family: "Muli", sans-serif;
  margin: 0;
}

.header {
  background-color: #57589b;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.header input {
  background-color: transparent;
  outline: none;
  border: 2px solid #25284c;
  border-radius: 30px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.3rem 1rem;
  color: #fff;
}
.header input:focus {
  background-color: #25284c;
}
.header input::-webkit-input-placeholder {
  color: #b9b9cc;
}
.header input::-moz-placeholder {
  color: #b9b9cc;
}
.header input:-ms-input-placeholder {
  color: #b9b9cc;
}
.header input::-ms-input-placeholder {
  color: #b9b9cc;
}
.header input::placeholder {
  color: #b9b9cc;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.movie {
  width: 18.75rem;
  margin: 1rem;
  background-color: #57589b;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.movie img {
  width: 100%;
  height: 85%;
}
.movie:hover .overview {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.movie-info {
  color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}
.movie-info h3 {
  margin-top: 0;
}
.movie-info span {
  background-color: #25284c;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  overflow-y: scroll;
}