@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
  margin: 0;
}

body {
  font-family: "Muli", sans-serif;
  background-color: #d0caca;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  width: 20rem;
  border-radius: 10px;
  overflow: hidden;
  max-height: 60vh;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

header {
  height: 10rem;
  background-color: #404dda;
  margin-top: 0;
  padding: 1rem;
  color: #fff;
}
header h2 {
  margin-top: 0;
  margin-bottom: 0;
}
header p {
  margin: 0;
  font-size: 1rem;
  margin-bottom: 2rem;
}
header .search {
  width: 100%;
  padding: 0.4rem;
  border-radius: 20px;
  font-size: 1rem;
  border: none;
  background-color: #342cb0;
  color: #fff;
}
header .search:focus {
  outline: none;
}

.users {
  overflow: scroll;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 5rem;
  text-align: left;
}
.user:not(:last-child) {
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}
.user h3 {
  margin: 0;
  margin-bottom: 0.4rem;
}
.user img {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
}
.user .info {
  padding: 1rem;
}

.loading {
  height: 3rem;
  padding: 1rem 0 1rem 1rem;
}

.hide {
  display: none;
}