@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  background: #ffefba; /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#ffefba));
  background: linear-gradient(to right, #ffffff, #ffefba);
  margin: 0;
  text-align: center;
  height: 100vh;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 160vw;
  margin: 0 auto;
}

.card {
  border-radius: 10px;
  border: none;
  margin: 1rem;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card .img-container {
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
  width: 16vw;
  height: 16vw;
  text-align: center;
  margin-top: 1rem;
}
.card img {
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__number {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 30%;
  padding: 0.4rem;
  margin: 0 auto;
  margin-top: 1.5rem;
}
.card__name {
  font-size: 1.2rem;
}