@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Code Pro', monospace;
  background-color: #533f6e;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  height: 20vh;
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: transparent;

  @media (max-width: 800px) {
    flex-direction: column;
  }
  i {
    font-size: 5rem;
  }
  .count {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}
