@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  background-color: #2767d5;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
h3 {
  color: #fff;
}
textarea {
  color: #000;
  border: none;
  display: block;
  width: 100%;
  height: 6.25rem;
  font-family: inherit;
  padding: 0.625rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;

  p {
    background-color: rgb(65, 18, 221);
    color: #fff;
    padding: 1rem 3rem;
    border-radius: 30px;
    transition: scale 1s ease;
    &.active {
      background-color: rgb(222, 106, 106);
      transform: scale(1.1);
    }
  }
}
